@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --clr-primary: #F54500;
  --clr-primary-variation: #ff8a5c;
  --clr-secondary: #ffb699;
  --clr-tertiary: #FCEADE;
  --clr-white: #ffffff;
  --clr-dark: #474747;
  --clr-gray: #bcbcbc;
  --clr-light-gray: #f9f9f9;
  --clr-accent: #fadbc7;
  --clr-accent-2: #25ced1;
  --clr-gray_hover: rgba(0,0,0,0.1);
}

* {
  box-sizing: border-box;
}

body {
  /*font-family: "Goudy Bookletter 1911";*/
  margin: 0;
  color: var(--clr-dark);
  font-family: "Noto Sans";
}

h1,h2,p {
  margin: 0;
}

dialog {
  height: fit-content;
  min-width: 550px;
  padding: 0;
  color: var(--clr-dark);
  border: none;
  border-radius: 5px;
  box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.5);

  & h2 {
    margin: 0;
  }

  &::backdrop {
    background: hsl(0 0 0 / .5);
    backdrop-filter: blur(5px);
  }
}

.dialog-container {
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--clr-gray_hover);
}

.dialog-close {
  display: flex;
  align-items: center;
  padding: .4rem;
  border-radius: 5px;

 & img {
   opacity: .5;
 }

 & :hover {
   cursor: pointer;
   background-color: var(--clr-gray_hover);
 }
}

.dialog-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 250px;
  /*gap: 1rem;*/

  & input {
    margin: 0;
    margin-top: 8.5px;
  }
}

.dialog-content-main {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.dialog-content-text {
  font-family: "Noto Sans";
  color: var(--clr-dark);
  margin: 3px;
  line-height: 1.5;
  border: none;
  resize: none;
  outline: none;

  &.dialog-h2 {
    font-size: 24px;
    font-weight: bold;
  }

  &:focus {
    outline: 1px solid var(--clr-dark);
    border-radius: 5px;
  }
}

.hidden {
  display: none;
}

.dialog-content-aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--clr-light-gray);
  padding: 1rem;
  min-width: 150px;
  height: 100%;
}

.dialog-content-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-complete {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0 0 5px;

  border: 2px solid var(--clr-gray);

  &:hover {
    border: 2px solid var(--clr-dark);
  }
  &:checked {
    border: 2px solid var(--clr-dark);
    background: var(--clr-gray_hover);
  }
}

.app {
  display: grid;
  grid-template-columns: 300px auto;
  min-height: 100vh;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-tertiary);
  padding: 1rem .75rem;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--clr-primary);
  font-family: "Goudy Bookletter 1911";
}

.settings {
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--clr-gray_hover);
  }
}

.sidebar-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--clr-gray_hover);
  }
}

.sidebar-btn > div {
  display: flex;
  gap: 1ch;
  align-items: center;
}

.sidebar-left {
  padding: .5rem;
}

.sidebar-right {
  padding: .4rem;
}

.add-btn {
  color: var(--clr-primary);
  /*color: var(--clr-primary-variation);*/
}

.projects-header {

  &:hover > .add-project > img {
    display: block;
  }
}

.add-project {
  padding: .4rem;
  border-radius: 5px;

  &:hover {
    background-color: var(--clr-gray_hover);
  }
}

.add-project > img {
  display: none;
  opacity: .5;

}

.sidebar-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


/****** Main Content ***********/
.content-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 6.45rem auto;
  padding-inline: 2rem;
  gap: 1.5rem;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo {
  display: flex;
  align-items: center;
  padding: .5rem 0;
  gap: .75rem;
  border-bottom: 1px solid var(--clr-gray_hover);
  cursor: pointer;

  &:hover {
    background-color: var(--clr-light-gray);
  }
}

.add-todo {
  display: flex;
  align-items: center;
  gap: .75rem;
  margin: 1rem 0;
  cursor: pointer;
  padding: .5rem 0;

  & > p {
    color: var(--clr-primary);
  }

  &:hover {
    background: var(--clr-tertiary);
  }
}
